{% extends 'base.html' %}

{% block title %}Welcome to Palatial Patisserie{% endblock %}

{% load static %}
{% block content %}
<section class="welcome-section" style="min-height: 400px;">
    <br>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <img src="{% static 'media/logo1.png' %}" class="img-fluid" alt="Palatial Patisserie Logo" width="2500" height="350">
            </div>
        </div>
    </div>
</section>
{% endblock %}