{% extends 'base.html' %}

{% block title %}Menu{% endblock %}
{% block content %}
<div style="background-color: rgba(0, 0, 0, 0.5); margin :2%; padding :2%">
    <center><h1 style="color:white">Our Menu</h1></center>
    <br>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        {% for dish in dishes %}
        <div class="col">
            <div class="card" style="width: 18rem; border-radius: 10px;">
                <img src="{{ dish.product_image.url }}" class="card-img-top" alt="{{ dish.name }}" style="height: 200px; object-fit: cover;">
                <div class="card-body">
                    <center>
                    <h5 class="card-title" style="font-size: 1rem;">{{ dish.name }}</h5>
                    <p class="card-text" style="font-size: 0.9rem;">Rs: {{ dish.price }}</p>
                    <button type="button" class="btn btn-dark btn-sm"><a style="text-decoration: none;color:white;" href="{% url 'add_to_cart' dish.id %}">Order now</a></button>
                </center>
                </div>
            </div>
        </div>
        {% empty %}
            <div class="col-sm-4">
                <div class="card mb-3" style="max-width: 18rem;">
                    <div class="card-body">
                        <p class="card-text">No dishes available at the moment.</p>
                    </div>
                </div>
            </div>
            <br><br><br><br><br><br><br><br>    
        {% endfor %}
    </div>
    </div>
{% endblock %}
